.chat_container ,.chat_container_restore {
	 position: fixed;
	 z-index: 2;
	 display: grid;
	 width: 90%;
	 height: 76%;
	 grid-template-areas:"head-users head-chat head-camera"
	 "userslistbox chatbox camerabox"
	 "empty-container chat_controls chat_controls";
	 grid-template-columns: 15% 1fr 40%;
	 grid-template-rows: auto 1fr 5em;
 	 grid-gap: 1rem;
 	 background: white;
	 border:3px solid rgb(229,229,229);
}
.chat_container {
/*	 top: -52%;*/
	top: -100%;
}
.chat_container_restore {	
	 top: 24%;	
}
.videochat_container,.videochat_container_restore {
	 position: fixed;
	 z-index: 2;
	 display: grid;
	 width: 90%;
	 height: 76%;	 
	 grid-template-areas:"head-chat head-camera" "camerabox camerabox";
	 grid-template-rows: auto 1fr;
	 grid-template-columns: 1fr 1fr;
 	 grid-gap: 1rem;
 	 background: white;
	 border:3px solid rgb(229,229,229);
}
.videochat_container {
/*	 top: -52%;*/
	 top:-100%;
}
.videochat_container_restore {	
	 top: 24%;
}
.videochat_full_screen {
	 position: fixed;
	 z-index: 6;
	 display: grid;
	 width: 100%;
	 height: 100%;
	 top: 0;
	 left:0;
	 grid-template-areas:"camerabox";
	 grid-template-rows: 1fr;
	 grid-template-columns: 1fr;
	 background: white;
}
.chat_send_txt {
	background-color:rgb(166,210,255);
	color:black;
	font-style:italic;
	padding:7px;
	border-radius:8px;
	line-height:2.2;
}
.chat_date {
	color: red;
}
.chat_from_user {
	color: blue;
}
input[id='send'], input[id='video']{
	margin-right: 5px;
}
input[id='text_chat'] {
	margin-bottom: 10px;
	width: 51%;
}
.head-users,.head-chat,.head-camera,.head-chat-select,.head-camera-select {
	text-align: center;
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
	font-family: Arial;
	color: rgb(125,125,125);
	background: rgb(201,201,201);
}

.head-users {
	grid-area:head-users;
	position: relative;
}
.head-users:after ,.head-chat:after ,.head-camera:after,.head-chat-select:after,.head-camera-select:after { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	border: 10px solid;
	border-color:  rgb(201,201,201) transparent transparent transparent;
}
.head-chat,.head-chat-select {
	grid-area:head-chat;
	position: relative;
}
.head-camera ,.head-camera-select{
	grid-area:head-camera;
	position: relative;
}
.head-chat-select,.head-camera-select {
	background: rgb(106,181,255);		
}
.head-chat-select:after,.head-camera-select:after {
	border-color: rgb(106,181,255) transparent transparent transparent;
}

.userslistbox {
	grid-area: userslistbox;
	margin-left: 1rem;
	height: 150px;
  	padding:1px;
  	list-style:none;
  	line-height:1.1;
  	overflow-y:auto;
  	overflow-x:hidden;
  	font-family: Arial;
	border:2px solid rgb(229,229,229);
}
.userslistbox li {
	width: 100%;
	padding: 10px;
	color: rgb(125,125,125);
}
.userslistbox li:hover {
    background: rgb(207,207,231); 
    color: white; 
    cursor: pointer;
} 
.chatbox {
	position: relative;
	grid-area: chatbox;
	overflow-y: scroll;
  	padding: 1px;
  	padding: 0.1rem 0.5rem;
  	font-family: Arial;
	border:2px solid rgb(229,229,229);
}
.camerabox {
	position: relative;
	grid-area: camerabox;
	height: 100%;
	border:2px solid rgb(229,229,229);
	margin-right: 1rem;
}
.camerabox_show {
	display: block;
	position: relative;
	grid-area: camerabox;
	height: 100%;
	border:2px solid rgb(229,229,229);
	margin-right: 0;
}
.camerabox_hide {
	display: none;
}
#received_video {
  width: 100%;
  height: 100%;
  position:absolute;
}
#local_video {
  width: 120px;
  height:120px;
  position: absolute;
  top: 1rem;
  left: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 4px black;
}
.state_block {	
	height: 18px;
	margin-bottom: 10px;
}
.state_block div {
	float: left;
	font-family: Arial;
	font-style: italic;
	color: black;
}
.state_indicator_on {
	background: rgb(0,255,0);
}
.state_indicator_off {
	background: rgb(192,192,192);
}
.state_indicator_off,.state_indicator_on  {
	margin-right: 10px;
	margin-left: 10px;
	width: 18px;
	height: 18px;
	border-radius: 9px;
	border: 1px solid rgb(64,128,128);
}
#hangup-button {
  display:block;
  border-radius: 8px;
  padding: 5px;
  position:relative;
  margin:auto;
  top:calc(100% - 40px);
  background-color: rgba(150, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
  cursor: pointer;
}
#hangup-button:hover {
  filter: brightness(150%);
  -webkit-filter: brightness(150%);
}

#hangup-button:disabled {
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  cursor: default;
}
.empty-container {
  grid-area: empty-container;
}
.chat_controls {
  grid-area: chat_controls;
  height: 100%;
}
.minimize_screen,.width_screen {
	position: absolute;
	display: none;
}
.full_screen {
	position: absolute;
	width: 28px;
	height: 28px;
	top: calc(100% - 40px);
	left: calc(100% - 50px);
	cursor: pointer;
}
.square {
	float: left;
	width: 50%;
	height: 50%;
	border:3px solid rgb(136,217,255);
}
.square_top_left {
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-right-width: 4px;
}
.square_top_right {
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-left-width: 4px;
}
.square_bottom_left {
	border-right-color: transparent;
	border-top-color: transparent;
	border-right-width: 4px;
}
.square_bottom_right {
	border-top-color: transparent;
	border-left-color: transparent;
	border-left-width: 4px;
}
.animation_chat_show {
	-webkit-animation-name: chat_show; 
	animation-name: chat_show;
}
.animation_chat_hide {
	-webkit-animation-name: chat_hide; 
	animation-name: chat_hide;
}
@-webkit-keyframes chat_show {
 /*   from {top: -52%;}*/
 	from {top: -100%;}
    to {top: 24%;}
}
@keyframes chat_show {
    /*   from {top: -52%;}*/
 	from {top: -100%;}
    to {top: 24%;}
}
@-webkit-keyframes chat_hide {
    from {top: 24%;}
    to {top: -100%;}
  /*  to {top: -52%;}*/
}
@keyframes chat_hide {
    from {top: 24%;}
    to {top: -100%;}
  /*  to {top: -52%;}*/
}

@media only screen and (max-width: 1600px) {

	.chat_controls,.empty-container {
		margin-left: 1rem;
	}
	.chatbox {
		margin-left: 0;
	}
	.userslistbox {
		margin-right: 1rem;
		height: 100%;
		margin-left:0;
	}
	.camerabox {
		margin-right: 1rem;
	}
	input[id='text_chat'] {
		width: 100%;
		margin-right:0;
	}
	input[id='send'] {
		border: 1px solid rgb(0,162,232);
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		width: 36%;
		margin-right: 1%;
	}
	input[id='video'] {
		border: 1px solid rgb(0,162,232);
		width: 26%;
		margin-right: 1%;
	}
	#reconnect {
		border: 1px solid rgb(0,162,232);
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		width: 36%;
	}
	#reconnect:hover,input[id='send']:hover,input[id='video']:hover {
		border: 2px solid rgb(100,100,255);
	}
	.chat_container ,.chat_container_restore{
		grid-template-areas:"head-chat head-camera"
		"chatbox camerabox"
		"empty-container head-users"
		"chat_controls userslistbox";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 60% auto 1fr;
		grid-gap: 1rem;
	}	
}
@media only screen and (max-width: 1000px) {
	.chat_container ,.chat_container_restore{
		grid-template-areas:"head-chat head-camera"
		"chatbox chatbox"
		"head-users head-users"
		"userslistbox userslistbox"
		"chat_controls chat_controls";
		grid-template-rows: auto 25% auto 18% 1fr;
	}
	.chat_controls {
		margin-right: 1rem;
	}
	.userslistbox {
		margin-left: 1rem;
	}/*
	#local_video {
		width: 77px;
		height: 77px;
	}*/
	.camerabox {
		display: none;		
	}/*
	.head-chat,.head-users {
		background: rgb(106,181,255);		
	}
	.head-chat:after,.head-users:after {
		border-color: rgb(106,181,255) transparent transparent transparent;
	}*/
	.head-chat, .head-camera {
		cursor: pointer;
	}
	.head-chat:hover, .head-camera:hover {
		background: rgb(191,223,255);
	} 
	.head-chat:hover::after, .head-camera:hover::after {
		border-color: rgb(191,223,255) transparent transparent transparent;
	} 
}
@media only screen and (max-width: 650px) {
	.chat_container,.videochat_container {
		width: 98%;
		height: 82%;
	/*	top: -76%;*/
		top: -100%;
		font-size: 12px;
		
	}
	.videochat_container_restore,.chat_container_restore {
		width: 98%;
		height: 82%;
		font-size: 12px;
		top: 18%;
	}
	.head-users,.head-chat,.head-camera,.head-chat-select,.head-camera-select {
		font-size: 12px;
	}
	@-webkit-keyframes chat_show {
		/*from {top: -76%;}*/
		from {top: -100%;}
	    to {top: 18%;}
	}
	@keyframes chat_show {
	    /*from {top: -76%;}*/
		from {top: -100%;}
	    to {top: 18%;}
	}
	@-webkit-keyframes chat_hide {
	    from {top: 18%;}
	    to {top: -100%;}
	 /*   to {top: -76%;}*/
	}
	@keyframes chat_hide {
	    from {top: 18%;}
	    to {top: -100%;}
	 /*   to {top: -76%;}*/
	}
}
