@media only screen and (orientation: landscape) and (min-width: 1001px){
	.logon_container {
		margin: 0;
		height: 100%;
		width: 70%;
		float: left;
	}
	.frame {
		width: 60%;
	}	
	.lenta, .lenta2 {
		width: 2%;
		height: 100%;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		flex-direction: column;
		float: left;
	}
	.lenta_win {
		height: 3%;
		width: 100%;
	}
	.video_block {
		float: left;
		width: 22%;
		height: 90%;
		margin-top: 2%;
		margin-bottom: 5%;
		margin-left: 0;
		margin-right: 0;
		flex-direction: column;
	}
	
	.clip1, .clip2, .clip3, .clip4, .clip5, .clip6 {
		width: 100%;
		left: 0;
	}
	.clip1 {
		top:4%;
	}
	.clip2 {
		top:36%;
	}
	.clip3 {
		top:68%;
	}
	.clip4 {
		top:100%;
	}
	.clip5 {
		top:132%;
	}
	.clip6 {
		top:164%;
	}
	@keyframes anime_clip_one {
	    from {top: 4%;}
	    to {top: -28%;}
	}
	@-webkit-keyframes anime_clip_one {
	    from {top: 4%;}
	    to {top: -28%;}
	}
	@keyframes anime_clip_two {
	    from {top: 36%;}
	    to {top: 4%;}
	}
	@-webkit-keyframes anime_clip_two {
	    from {top: 36%;}
	    to {top: 4%;}
	}
	@keyframes anime_clip_three {
	    from {top: 68%;}
	    to {top: 36%;}
	}
	@-webkit-keyframes anime_clip_three {
	    from {top: 68%;}
	    to {top: 36%;}
	}
	@keyframes anime_clip_foor {
	    from {top: 100%;}
	    to {top: 68%;}
	}
	@-webkit-keyframes anime_clip_foor {
	    from {top: 100%;}
	    to {top: 68%;}
	}
	@keyframes anime_clip_five {
	    from {top: 132%;}
	    to {top: 100%;}
	}
	@-webkit-keyframes anime_clip_five {
	    from {top: 132%;}
	    to {top: 100%;}
	}
	@keyframes anime_clip_six {
	    from {top: 164%;}
	    to {top: 132%;}
	}
	@-webkit-keyframes anime_clip_six {
	    from {top: 164%;}
	    to {top: 132%;}
	}
}
@media only screen and (orientation: landscape) and (min-width: 1751px) and (min-height: 700px){
	.input_block {
    	margin: 180px auto;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1751px) and (max-height: 699px){
	.input_block {
    	margin: 135px auto;
	}
	.frame {
		width: 50%;
		background-image: url(../img/my_photo600.jpg);
	}
}
@media only screen and (orientation: landscape) and (min-width: 1751px) and (max-height: 600px){
	.input_block {
    	margin: 0 auto;
    	margin-bottom: 30px;
    	margin-top: 180px;
	}
	.frame {
		width: 50%;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1751px) and (max-height: 530px){
	.input_block {
    	margin-top: 150px;
	}
	.frame {
		margin: 10px auto;
		width: 40%;
	}
	.name_head div {
		font-size: 30px;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1751px) and (max-height: 450px){
	.frame {
    	width: 30%;
    	background-image: url(../img/my_photo460.jpg);
	}
	.my_logo {
		font-size: 10px;
	}
	.input_block {
   		margin: 0px auto;
    	margin-bottom: 30px;
    	margin-top: 80px;
	}
	p, span {
		font-size: 12px;
	}
	input[id='btn'] {
		font-size: 10px;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1751px) and (max-height: 360px){
	.frame {
    	width: 25%;
	}
	.input_block {
   		margin: 0px auto;
    	margin-bottom: 10px;
    	margin-top: 50px;
	}
	p, span {
		font-size: 10px;
	}
	input[id='btn'] {
		font-size: 8px;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1751px) and (max-height: 280px){
	.name_head div {
		font-size: 20px;
	}
	.frame {
    	margin: 2px auto;
    	background-image: url(../img/my_photo300.jpg);
	}
	input[type='checkbox'] {
    	margin-top: 10px;
   		width: 15px;
    	height: 15px;
	}
	.input_block {
   		margin: 0px auto;
    	margin-bottom: 10px;
    	margin-top: 30px;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1751px) and (max-height: 230px){
	.name_head {
		display: none;
	}
	.input_block {
	    margin: 0px auto;
	    margin-top: 20px;
	}
}


@media only screen and (orientation: landscape) and (min-width: 1518px) and (max-width: 1750px) and (min-height: 700px){
	.frame {
    	width: 50%;
	}
	.input_block {
    	margin: 100px auto;
	}
}

@media only screen and (orientation: landscape) and (min-width: 1518px) and (max-width: 1750px) and (max-height: 530px){
	.input_block {
    	margin-top: 80px;
	}
	.frame {
		margin: 10px auto;
		width: 40%;
		background-image: url(../img/my_photo460.jpg);
	}
	.name_head div {
		font-size: 30px;
	}
	.my_logo {
		font-size: 10px;
	}
	.input_block {
   		margin: 0px auto;
    	margin-bottom: 30px;
    	margin-top: 80px;
	}
	p, span {
		font-size: 12px;
	}
	input[id='btn'] {
		font-size: 10px;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1518px) and (max-width: 1750px) and (max-height: 450px){
	.frame {
    	width: 30%;
    	
	}
	.input_block {
	    margin: 0px auto;
	    margin-bottom: 20px;
	    margin-top: 50px;
	}
	p, span {
		font-size: 10px;
	}
	input[id='btn'] {
		font-size: 8px;
	}
	input[type='checkbox'] {
    	width: 15px;
    	height: 15px;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1518px) and (max-width: 1750px) and (max-height: 360px){
	.frame {
    	width: 25%;
	}
	.input_block {
   		margin: 0px auto;
    	margin-bottom: 10px;
    	margin-top: 30px;
	}
	p, span {
		font-size: 8px;
	}
	input[id='btn'] {
		width: 70%;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1518px) and (max-width: 1750px) and (max-height: 280px){
	.name_head div {
		font-size: 20px;
	}
	.frame {
    	margin: 2px auto;
    	background-image: url(../img/my_photo300.jpg);
	}
	input[type='checkbox'] {
    	margin-top: 10px;
   		width: 15px;
    	height: 15px;
	}
	.input_block {
   		margin: 0px auto;
    	margin-bottom: 10px;
    	margin-top: 30px;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1518px) and (max-width: 1750px) and (max-height: 230px){
	.name_head {
		display: none;
	}
	.input_block {
	    margin: 0px auto;
	    margin-top: 20px;
	}
}

@media only screen and (orientation: landscape) and (min-width: 1300px) and (max-width: 1517px) and (max-height: 530px){
	.input_block {
    	margin-top: 80px;
	}
	.frame {
		margin: 10px auto;
		width: 40%;
		background-image: url(../img/my_photo460.jpg);
	}
	.name_head div {
		font-size: 30px;
	}
	.my_logo {
		font-size: 10px;
	}
	.input_block {
   		margin: 0px auto;
    	margin-bottom: 30px;
    	margin-top: 70px;
	}
	p, span {
		font-size: 12px;
	}
	input[id='btn'] {
		font-size: 10px;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1300px) and (max-width: 1517px) and (max-height: 450px){
	.frame {
    	width: 30%;
	}
	.input_block {
	    margin: 0px auto;
	    margin-bottom: 20px;
	    margin-top: 30px;
	}
	p, span {
		font-size: 8px;
	}
	input[id='btn'] {
		font-size: 8px;
		width: 70%;
	}
	input[type='checkbox'] {
    	width: 15px;
    	height: 15px;
	}
}

@media only screen and (orientation: landscape) and (min-width: 1300px) and (max-width: 1517px) and (max-height: 280px){
	.name_head div {
		font-size: 20px;
	}
	.frame {
    	margin: 2px auto;
    	background-image: url(../img/my_photo300.jpg);
	}
	input[type='checkbox'] {
    	margin-top: 10px;
   		width: 15px;
    	height: 15px;
	}
	.input_block {
   		margin: 0px auto;
    	margin-bottom: 10px;
    	margin-top: 30px;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1300px) and (max-width: 1517px) and (max-height: 230px){
	.name_head {
		display: none;
	}
	.input_block {
	    margin: 0px auto;
	    margin-top: 20px;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1001px) and (max-width: 1299px) and (min-height: 401px){
	.input_block {
	    margin: 0 auto;
	    margin-bottom: 30px;
	    margin-top: 90px;
	}
	p, span {
    	font-size: 12px;
	}
	input[id='btn'] {
		font-size: 12px;
	}
	.my_logo {
    	font-size: 10px;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1001px) and (max-width: 1299px) and (max-height: 400px){
	.frame {
    	width: 40%;
    	background-image: url(../img/my_photo460.jpg);
	}
	.input_block {
	    margin: 0px auto;
	    margin-bottom: 20px;
	    margin-top: 30px;
	}
	p, span {
		font-size: 8px;
	}
	input[id='btn'] {
		font-size: 8px;
		width: 70%;
	}
	input[type='checkbox'] {
    	width: 15px;
    	height: 15px;
	}
	.my_logo {
    	font-size: 10px;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1001px) and (max-width: 1299px) and (max-height: 300px){
	.name_head div {
		font-size: 20px;
	}
	.frame {
    	margin: 2px auto;
    	background-image: url(../img/my_photo300.jpg);
	}
	input[type='checkbox'] {
    	margin-top: 10px;
   		width: 15px;
    	height: 15px;
	}
	.input_block {
   		margin: 0px auto;
    	margin-bottom: 10px;
    	margin-top: 30px;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1001px) and (max-width: 1299px) and (max-height: 230px){
	.name_head {
		display: none;
	}
	.input_block {
	    margin: 0px auto;
	    margin-top: 20px;
	}
}

@media only screen and (orientation: landscape) and (min-width: 1800px) {
	
	.lenta_win {
    	border: 5px solid rgba(0,97,193,0.7);
    	border-left-width: 10px;
    	border-right-width: 10px;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1580px) and (max-width: 1799px){
	
	.lenta_win {
    	border: 5px solid rgba(0,97,193,0.7);
    	border-left-width: 8px;
    	border-right-width: 8px;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1001px) and (max-width: 1579px){

	.lenta_win {
    	border: 5px solid rgba(0,97,193,0.7);
    	border-left-width: 5px;
    	border-right-width: 5px;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1518px) and (max-height: 700px) {
	.lenta, .lenta2 {
    	width: 1.3%;
	}
	.lenta_win {
    	border: 5px solid rgba(0,97,193,0.7);
    	border-left-width: 5px;
    	border-right-width: 5px;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1518px) and (max-height: 870px){
	.clip1 {
		top:8%;
	}
	.clip2 {
		top:55%;
	}
	.clip3 {
		top:102%;
	}
	.clip4 {
		top:149%;
	}
	.clip5 {
		top:196%;
	}
	.clip6 {
		top:243%;
	}
	@keyframes anime_clip_one {
	    from {top: 8%;}
	    to {top: -39%;}
	}
	@-webkit-keyframes anime_clip_one {
	    from {top: 8%;}
	    to {top: -39%;}
	}
	@keyframes anime_clip_two {
	    from {top: 55%;}
	    to {top: 8%;}
	}
	@-webkit-keyframes anime_clip_two {
	    from {top: 55%;}
	    to {top: 8%;}
	}
	@keyframes anime_clip_three {
	    from {top: 102%;}
	    to {top: 55%;}
	}
	@-webkit-keyframes anime_clip_three {
	    from {top: 102%;}
	    to {top: 55%;}
	}
	@keyframes anime_clip_foor {
	    from {top: 149%;}
	    to {top: 102%;}
	}
	@-webkit-keyframes anime_clip_foor {
	    from {top: 149%;}
	    to {top: 102%;}
	}
	@keyframes anime_clip_five {
	    from {top: 196%;}
	    to {top: 149%;}
	}
	@-webkit-keyframes anime_clip_five {
	    from {top: 196%;}
	    to {top: 149%;}
	}
	@keyframes anime_clip_six {
	    from {top: 243%;}
	    to {top: 196%;}
	}
	@-webkit-keyframes anime_clip_six {
	    from {top: 243%;}
	    to {top: 196%;}
	}
	
}
@media only screen and (orientation: landscape) and (min-width: 1518px) and (max-height: 575px){
	.video_block {
		margin-top :0;
		height: 100%;

	}
	.lenta, .lenta2 {
    	width: 1.2%;
	}
	.lenta_win {
    	border: 3px solid rgba(0,97,193,0.7);
    	border-left-width: 5px;
    	border-right-width: 5px;
	}
	.video_img {
		height: 100%;
	}
	.clip1 {
		top:3px;
	}
	.clip2 {
		top:100%;
	}
	@keyframes anime_clip_one {
	    from {top: 3px;}
	    to {top: -100%;}
	}
	@-webkit-keyframes anime_clip_one {
	    from {top: 3px;}
	    to {top: -100%;}
	}
	@keyframes anime_clip_two {
	    from {top: 100%;}
	    to {top: 3px;}
	}
	@-webkit-keyframes anime_clip_two {
	    from {top: 100%;}
	    to {top: 3px;}
	}
}
@media only screen and (orientation: landscape) and (min-width: 1001px) and (max-width: 1517px) and (max-height: 720px) {
	.clip1 {
		top:10%;
	}
	.clip2 {
		top:60%;
	}
	.clip3 {
		top:110%;
	}
	.clip4 {
		top:160%;
	}
	.clip5 {
		top:210%;
	}
	.clip6 {
		top:260%;
	}
	@keyframes anime_clip_one {
	    from {top: 10%;}
	    to {top: -40%;}
	}
	@-webkit-keyframes anime_clip_one {
	    from {top: 10%;}
	    to {top: -40%;}
	}
	@keyframes anime_clip_two {
	    from {top: 60%;}
	    to {top: 10%;}
	}
	@-webkit-keyframes anime_clip_two {
	    from {top: 60%;}
	    to {top: 10%;}
	}
	@keyframes anime_clip_three {
	    from {top: 110%;}
	    to {top: 60%;}
	}
	@-webkit-keyframes anime_clip_three {
	    from {top: 110%;}
	    to {top: 60%;}
	}
	@keyframes anime_clip_foor {
	    from {top: 160%;}
	    to {top: 110%;}
	}
	@-webkit-keyframes anime_clip_foor {
	    from {top: 160%;}
	    to {top: 110%;}
	}
	@keyframes anime_clip_five {
	    from {top: 210%;}
	    to {top: 160%;}
	}
	@-webkit-keyframes anime_clip_five {
	    from {top: 210%;}
	    to {top: 160%;}
	}
	@keyframes anime_clip_six {
	    from {top: 260%;}
	    to {top: 110%;}
	}
	@-webkit-keyframes anime_clip_six {
	    from {top: 260%;}
	    to {top: 110%;}
	}
}
@media only screen and (orientation: landscape) and (min-width: 1001px) and (max-width: 1517px) and (max-height: 600px) {
	.clip1 {
		top:4%;
	}
	.clip2 {
		top:50%;
	}
	.clip3 {
		top:110%;
	}
	.clip4 {
		top:160%;
	}
	.clip5 {
		top:210%;
	}
	.clip6 {
		top:260%;
	}
	@keyframes anime_clip_one {
	    from {top: 4%;}
	    to {top: -42%;}
	}
	@-webkit-keyframes anime_clip_one {
	    from {top: 4%;}
	    to {top: -42%;}
	}
	@keyframes anime_clip_two {
	    from {top: 50%;}
	    to {top: 4%;}
	}
	@-webkit-keyframes anime_clip_two {
	    from {top: 50%;}
	    to {top: 4%;}
	}
	@keyframes anime_clip_three {
	    from {top: 110%;}
	    to {top: 50%;}
	}
	@-webkit-keyframes anime_clip_three {
	    from {top: 110%;}
	    to {top: 50%;}
	}
	@keyframes anime_clip_foor {
	    from {top: 160%;}
	    to {top: 110%;}
	}
	@-webkit-keyframes anime_clip_foor {
	    from {top: 160%;}
	    to {top: 110%;}
	}
	@keyframes anime_clip_five {
	    from {top: 210%;}
	    to {top: 160%;}
	}
	@-webkit-keyframes anime_clip_five {
	    from {top: 210%;}
	    to {top: 160%;}
	}
	@keyframes anime_clip_six {
	    from {top: 260%;}
	    to {top: 110%;}
	}
	@-webkit-keyframes anime_clip_six {
	    from {top: 260%;}
	    to {top: 110%;}
	}
}
@media only screen and (orientation: landscape) and (min-width: 1001px) and (max-width: 1517px) and (max-height: 480px) {
	.video_block {
		margin :0;
		height: 100%;
		
	}
	.video_img {
		height: 100%;
	}
	.clip1 {
		top:2px;
	}
	.clip2 {
		top:100%;
	}
	.clip3 {
		top:180%;
	}
	.clip4 {
		top:260%;
	}
	.clip5 {
		top:340%;
	}
	.clip6 {
		top:420%;
	}
	@keyframes anime_clip_one {
	    from {top: 2px;}
	    to {top: -100%;}
	}
	@-webkit-keyframes anime_clip_one {
	    from {top: 2px;}
	    to {top: -100%;}
	}
	@keyframes anime_clip_two {
	    from {top: 100%;}
	    to {top: 2px;}
	}
	@-webkit-keyframes anime_clip_two {
	    from {top: 100%;}
	    to {top: 2px;}
	}
	@keyframes anime_clip_three {
	    from {top: 180%;}
	    to {top: 100%;}
	}
	@-webkit-keyframes anime_clip_three {
	    from {top: 180%;}
	    to {top: 100%;}
	}
	@keyframes anime_clip_foor {
	    from {top: 260%;}
	    to {top: 180%;}
	}
	@-webkit-keyframes anime_clip_foor {
	    from {top: 260%;}
	    to {top: 180%;}
	}
	@keyframes anime_clip_five {
	    from {top: 340%;}
	    to {top: 260%;}
	}
	@-webkit-keyframes anime_clip_five {
	    from {top: 340%;}
	    to {top: 260%;}
	}
	@keyframes anime_clip_six {
	    from {top: 420%;}
	    to {top: 340%;}
	}
	@-webkit-keyframes anime_clip_six {
	    from {top: 420%;}
	    to {top: 340%;}
	}
}

@media only screen and (orientation: landscape) and (min-width: 1518px) and (max-height: 575px){
	.lenta, .lenta2 {
    	width: 1%;
	}
	.lenta_win {
    	border: 2px solid rgba(0,97,193,0.7);
    	border-left-width: 3px;
    	border-right-width: 3px;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1518px) and (max-height: 400px) {
	.lenta, .lenta2 {
    	width: 0.8%;
	}


@media only screen and (orientation: landscape) and (min-width: 1001px) and (max-width: 1517px) and (max-height: 800px) {
	.lenta, .lenta2 {
    	width: 1.5%;
	}
}
@media only screen and (orientation: landscape) and (min-width: 1001px) and (max-width: 1517px) and (max-height: 600px) {
	.lenta, .lenta2 {
    	width: 1.2%;
	}
	.lenta_win {
    	border: 3px solid rgba(0,97,193,0.7);
	}
}
@media only screen and (orientation: landscape) and (min-width: 1001px) and (max-width: 1517px) and (max-height: 450px) {
	.lenta, .lenta2 {
    	width: 1%;
	}
	.lenta_win {
    	border: 2px solid rgba(0,97,193,0.7);
	}
}
@media only screen and (orientation: landscape) and (min-width: 1001px) and (max-width: 1517px) and (max-height: 350px) {
	.lenta, .lenta2 {
    	width: 0.8%;
	}
}
