.rect1,.rect2,.rect3,.rect4,.rect5,.rect_1,.rect_2,.rect_3,.rect_4,.rect_5 {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	padding: 20px 40px;
	text-align: center;
/*	line-height: 100px;*/
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}
.rect1 {
	border-radius: 0 30px 30px 30px;
}
.rect5 {
	border-radius: 30px 0 30px 30px;
	-webkit-box-shadow: 0 2px 4px #888;
	-moz-box-shadow: 0 2px 4px #888;
	box-shadow: 0 2px 4px #888;
}
.rect_2:before { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 30px; 
	top: 100px; 
	border: 25px solid; 
	border-color: #666 transparent transparent #666; 
}
.rect_2:after { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 38px; 
	top: 100px; 
	border: 15px solid; 
	border-color: #fff transparent transparent #fff; 
}
.rect1:before {
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: -8px; 
	top: -50px; 
	border: 25px solid; 
	border-color: transparent transparent #666 #666; 
}
.rect1:after { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 0; 
	top: -30px; 
	border: 15px solid; 
	border-color: transparent transparent #fff #fff; 
}
.rect2:before {
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 30px; 
	top: -50px; 
	border: 25px solid; 
	border-color: transparent transparent #666 #666; 
}
.rect2:after { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 38px; 
	top: -30px; 
	border: 15px solid; 
	border-color: transparent transparent #fff #fff; 
}

.rect3:before {
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 50%; 
	top: -100px; 
	margin-left: -25px;
	border-top-width:50px;
	border-right-width: 25px;
	border-bottom-width: 50px;
	border-left-width: 25px;
	border-style: solid; 
	border-color: transparent transparent #666 transparent; 
}
.rect3:after {
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 50%; 
	top: -68px; 
	margin-left: -17px;	
	border-top-width:34px;
	border-right-width: 17px;
	border-bottom-width: 34px;
	border-left-width: 17px;
/*
	top: -72px; 
	margin-left: -17px;	
	border-top-width:36px;
	border-right-width: 17px;
	border-bottom-width: 36px;
	border-left-width: 17px;*/
	border-style: solid; 
	border-color: transparent transparent #fff transparent; 
}
.rect4:before {
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	right: 30px; 
	top: -50px; 
	border: 25px solid; 
	border-color: transparent #666 #666 transparent; 
}
.rect4:after { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	right: 38px; 
	top: -30px; 
	border: 15px solid; 
	border-color: transparent #fff #fff transparent; 
}
.rect5:before {
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	right: -8px; 
	top: -50px; 
	border: 25px solid; 
	border-color: transparent #666 #666 transparent; 	
}
.rect5:after { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	right: 0; 
	top: -30px; 
	border: 15px solid; 
	border-color: transparent #fff #fff transparent; 
}
.block1 {
	height: 200px;
	background: yellow;
}
.block2 {
	height: 200px;
	background: aqua;
}
.block3 {
	height: 200px;
	background: red;
}